html {
    background-color: #DFDFDF;
    font-family: 'Sora', sans-serif;
}

@media (hover :hover) {

}

h1 {
    font-size: 5rem;
    margin-top: 4rem;
    margin-bottom: 1.8rem;
}

label {
    font-size: 1.6rem;
    color: #4c2275;
    font-weight: 600;
}

.bayan-container {
    width: 60vw;
    margin: 0 auto;
}

.mem {
    cursor: pointer;
}

label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;

}

.bayan-img>img {
    max-width: 80%;
}

.bayan-img {
    margin-top: 1.9rem;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: center;
}

.plus {
    width: 1.1rem;
}